#grp_select_box {
    margin: auto;
    height:400px;
    width:850px;
    overflow: auto;
    background-color: bisque;
}

#grp_select_btn {
    alignment: center;
    border: transparent;
}

#test{
    height: 1000px;
}

#grp_top {
    margin: auto;
}