/*Fichier newActivity.html*/

#add_students #arrow_actions {
    text-align: center;
}

#add_students .row {
    margin: 2rem
}

#add_students .row:nth-child(2) h4 {
    text-align: center;
}

#add_students #file {
    margin-left: auto;
    margin-right: auto
}

#add_students select, #add_students .row:nth-child(2) .form-group {
    height: 93%
}

.horiz-bar {
    color: transparent;
    height: 1px;
    background-color: transparent;
    margin-bottom: 2rem;
    margin-top: 2rem
}

.left-items {
    margin-left: 2rem;
    margin-bottom: 1rem
}


[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}




.jumbotron {
    padding: 1rem
}

/*Fichier signin.html"*/

#signin, #signup {
    font-size: x-large
}



/* Fichier activity.html" */
#endPageButton {
    display: inline
}

#headOfTabForGroups {
    font-size: large
}

/* Fichier newGroupforAnActivityForm.html" */
#newGroupForm {
    font-size: large;
}

.siteTitle
{
    font-family: Impact,fantasy;
}

#homeBody
{
    background-image: url("https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-rgb.png");
    background-size: cover;
    opacity: 0.85;
}
