{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Activité {{ activity_name }} {% endblock %}</h1>
{% endblock %}

{% block content %}

    <section id="activityContent" class="container">
      <div class="container" style="margin-bottom: 50px; margin-top: 20px">
        <button type="button" name="button" class="btn btn-primary">Appliquer changements</button>
        <button type="button" name="button" class="btn btn-primary"> Issues</button>
        <button type="button" name="button" class="btn btn-primary"> ... </button>
        <button type="button" name="button" class="btn btn-primary"> ... </button>
      </div>
      <div class="container">
        <input type="search" id="searchStudent" class="form-control" placeholder="Rechercher un élève" style="margin-bottom: 50px">
      </div>
      <table class="table table-striped text-center">
          {% if groups %}
                <thead>
                <tr>
                    <th scope="col">Nom du groupe</th>
                    <th scope="col">Nombre de commits</th>
                    <th scope="col">Date du dernier commit</th>
                    <th scope="col">Répertoire git</th>
                    <th scope="col">Statistiques</th>
                </tr>
                </thead>
                <tbody>
                {% for g in groups %}
                    <tr>
                        <th scope="row">{{ g.name }}</th>
                        <td>{{ g.nb_commits }}</td>
                        <td>{{ g.last_commit }}</td>
                        <td><a class="btn btn-primary" href="{{ g.repository }}">Répertoire</a></td>
                        <td><a class="btn btn-primary" href="{{ g.stat_link }}">Statistiques</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <thead>
                <tr>
                    <th scope="col">
                        <h1 class="display-2">Aucun groupe n'est inscrit</h1>
                    </th>
                </tr>
                </thead>
            {% endif %}
      </table>

      <div class="pagination">
            {% if pagination %}
                {% if pagination.page > 1 %}
                    <li class="page-item"><a href="{{ url_for_other_page(pagination.page - 1) }}" class="page-link">&laquo; Prev</a></li>
                {% else %}
                    <li class="page-item disabled"><a href="{{ url_for_other_page(pagination.page - 1) }}" class="page-link">&laquo; Prev</a></li>
                {% endif %}
                {% for page in pagination %}
                    {% if page %}
                        {% if page!=pagination.page %}
                            <li class="page-item"><a href="{{ url_for_other_page(page) }}" class="page-link">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item-active"><a class="page-link" href="#">{{ page }}</a></li>
                        {% endif %}
                    {% else %}
                        <span class="page-link">...</span>
                    {% endif %}
                {% endfor %}
                {% if pagination.has_next %}
                    <li class="page-item"><a href="{{ url_for_other_page(pagination.page + 1) }}" class="page-link">Next &raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a href="{{ url_for_other_page(pagination.page + 1) }}" class="page-link">Next &raquo;</a></li>
                {% endif %}
            {% endif %}
      </div>
    </section>


{% endblock %}
