{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Groupe {{groupName}} {% endblock %}</h1>
{% endblock %}

{% block content %}

    <section id="groupContent" class="container">
      <div class="container" style="margin-bottom: 50px; margin-top: 20px">
        <button type="button" name="button" class="btn btn-primary">Appliquer changements</button>
        <button type="button" name="button" class="btn btn-primary"> Issues</button>
        <button type="button" name="button" class="btn btn-primary"> ... </button>
        <button type="button" name="button" class="btn btn-primary"> ... </button>
      </div>
      <div class="container">
        <input type="search" id="searchStudent" class="form-control" placeholder="Rechercher un élève" style="margin-bottom: 50px">
      </div>
      <table class="table table-striped">
          <thead>
            <tr>
                <th colspan="1">Liste des élèves du groupe</th>
                <th colspan="1">Nombre de commits</th>
                <th colspan="1">Date du dernier commit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><span action="{{ url_for("group") }}">{{studentName1}}</span></td>
                <td><span>{{nb_commits1}}</span></td>
                <td><span>{{last_commit1}}</span></td>
                <td><button type="button" name="button" class="btn btn-primary">statistiques</button></td>
            </tr>
          <tr>
              <td><span action="{{ url_for("group") }}">{{studentName2}}</span></td>
                <td><span>{{nb_commits2}}</span></td>
                <td><span>{{last_commit2}}</span></td>
                <td><button type="button" name="button" class="btn btn-primary">statistiques</button></td>
          </tr>
          <tr>
              <td><span action="{{ url_for("group") }}">{{studentName3}}</span></td>
                <td><span>{{nb_commits3}}</span></td>
                <td><span>{{last_commit3}}</span></td>
                <td><button type="button" name="button" class="btn btn-primary">statistiques</button></td>
          </tr>
          <tr>
              <td><span action="{{ url_for("group") }}">{{studentName4}}</span></td>
                <td><span>{{nb_commits4}}</span></td>
                <td><span>{{last_commit4}}</span></td>
                <td><button type="button" name="button" class="btn btn-primary">statistiques</button></td>
          </tr>
          <tr>
              <td><span action="{{ url_for("group") }}">{{studentName5}}</span></td>
                <td><span>{{nb_commits5}}</span></td>
                <td><span>{{last_commit5}}</span></td>
                <td><button type="button" name="button" class="btn btn-primary">statistiques</button></td>
          </tr>
          <tr>
              <td><span action="{{ url_for("group") }}">{{studentName6}}</span></td>
                <td><span>{{nb_commits6}}</span></td>
                <td><span>{{last_commit6}}</span></td>
                <td><button type="button" name="button" class="btn btn-primary">statistiques</button></td>
          </tr>
          <tr>
              <td><span action="{{ url_for("group") }}">{{studentName7}}</span></td>
                <td><span>{{nb_commits7}}</span></td>
                <td><span>{{last_commit7}}</span></td>
                <td><button type="button" name="button" class="btn btn-primary">statistiques</button></td>
          </tr>
          <tr>
              <td><span action="{{ url_for("group") }}">{{studentName8}}</span></td>
                <td><span>{{nb_commits8}}</span></td>
                <td><span>{{last_commit8}}</span></td>
                <td><button type="button" name="button" class="btn btn-primary">statistiques</button></td>
          </tr>
          <tr>
              <td><span action="{{ url_for("group") }}">{{studentName9}}</span></td>
                <td><span>{{nb_commits9}}</span></td>
                <td><span>{{last_commit9}}</span></td>
                <td><button type="button" name="button" class="btn btn-primary">statistiques</button></td>
          </tr>
          <tr>
              <td><span action="{{ url_for("group") }}">{{studentName10}}</span></td>
                <td><span>{{nb_commits10}}</span></td>
                <td><span>{{last_commit10}}</span></td>
                <td><button type="button" name="button" class="btn btn-primary">statistiques</button></td>
          </tr>
        </tbody>
      </table>

      <div class="container" style="display: inLine">
        <input type="image" src="https://image.flaticon.com/icons/png/512/130/130884.png" style="height:20px; width: 20px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1);">
          <label>...</label>
        <input type="image" src="https://image.flaticon.com/icons/png/512/130/130884.png" style="height:20px; width: 20px">
      </div>
    </section>


{% endblock %}
