{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Groupe {{groupName}} {% endblock %}</h1>
{% endblock %}

{% block content %}

    <section id="groupContent" class="container">
      <div class="container">
        <button type="button" name="sudo">Sudo power du prof</button>
      </div>
      <div class="container" style="border-style: solid; display: in-line; border-color: red;">
        <button type="button" name="button">Appliquer changements</button>
        <button type="button" name="button"> Issues</button>
        <button type="button" name="button"> ... </button>
        <button type="button" name="button"> ... </button>
      </div>
      <div class="container">
        <textarea id="searchStudent"name="search" rows="1" cols="80">Rechercher un élève</textarea>
      </div>
      <div class="container" style="border-style: solid; border-color: blue;">
        <div class="container" style="border-style: solid; display: in-line; border-color: red;">
          <label>{{studentName1}}</label>
          <label>{{nb_commits1}}</label>
          <label>{{last_commit1}}</label>
          <button type="button" name="button">statistiques</button>
        </div>
        <div class="container" style="border-style: solid; display: in-line; border-color: red;">
          <label>{{studentName2}}</label>
          <label>{{nb_commits2}}</label>
          <label>{{last_commit2}}</label>
          <button type="button" name="button">statistiques</button>
        </div>
        <div class="container" style="border-style: solid; display: in-line; border-color: red;">
          <label>{{studentName3}}</label>
          <label>{{nb_commits3}}</label>
          <label>{{last_commit3}}</label>
          <button type="button" name="button">statistiques</button>
        </div>
        <div class="container" style="border-style: solid; display: in-line; border-color: red;">
          <label>{{studentName4}}</label>
          <label>{{nb_commits4}}</label>
          <label>{{last_commit4}}</label>
          <button type="button" name="button">statistiques</button>
        </div>
      </div>

      <div class="container" style="display: in-line;">
        <button type="button" name="button">Page précédente</button>
        <button type="button" name="button" style="margin-left: 800px;">Page suivante</button>
      </div>
    </section>


{% endblock %}
