{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <body id="homeBody">
    <!--{% if g.user %}
         <div class="container text-center">
        <form method="get" action="{{ url_for("newgroup1") }}">
        <button class="btn btn-primary btn-lg ">Créer un groupe</button>
        </form>
        </div>
    {% else %}-->
    <div id="titleDiv" class="container text-center">
        <h1 class="display-1 siteTitle">Bienvenue sur Gitly</h1>
    </div>
    <!--{% endif %}-->
    </body>
{% endblock %}
