{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Créer une nouvelle activité{% endblock %}</h1>
{% endblock %}

{% block content %}

    <form method="post" action="{{ url_for("new_activity") }}">

        <h3 class="left-items">Nom de l'activité :</h3>
        <div class="container input-group mb-3">
            <input type="text" name="activityName" class="form-control form-control-lg " placeholder="Nom de l'activité">
        </div>


        <hr class="container horiz-bar"/>


        <h3 class="left-items">Dates de début et fin de l'activité :</h3>
        <div id="activityDates" class="container input-group mb-3">
            <div class="row">
                <div class="col-md-auto">
                    <h4>Début :</h4>
                </div>
                <div class="col-md-auto">
                    <input type="date" name="beginDate">
                </div>
                <div class="col-md-auto">
                    <h4>Fin :</h4>
                </div>
                <div class="col-md-auto">
                    <input type="date" name="endDate">
                </div>
            </div>
        </div>


        <hr class="container horiz-bar"/>

        <h3 class="left-items">Module associé :</h3>

        <div class="accordion container" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-large" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Module existant
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse {% if modules %} show {% endif %}" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <select name="modules" id="modules" multiple class="form-control custom-select-lg">

                            {% for m in modules %}
                                <option value="{{ m.short_name }}">{{ m.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-large" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Nouveau module
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse {% if not modules %} show {% endif %}" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-auto">
                                <h4>Nom :</h4>
                            </div>
                            <div class="col-md-auto">
                                <input type="text" name="moduleName">
                            </div>
                            <div class="col-md-auto">
                                <h4>Abréviation :</h4>
                            </div>
                            <div class="col-md-auto">
                                <input type="text" name="moduleAbbreviation">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="container horiz-bar"/>


        <h3 class="left-items">Enseignant(s) référent(s) :</h3>
        <section id="add_teachers" class="container">

            <div class="form-group">
                <select name="selectedTeachers" id="teachers" multiple class="form-control custom-select-lg">
                    <!--TODO : une fois le back fait, aller chercher les profs dans la BD-->
                    {% for t in teachers %}
                        <option value="{{ t.user.username }}">{{ t.user.firstname }} {{ t.user.name }}</option>
                    {% endfor %}

                </select>
            </div>
        </section>


        <hr class="container horiz-bar"/>


        <h3 class="left-items">Nombre d'étudiants par activité :</h3>

        <div class="input-group mb-3 container">
            <select name="numberOfStudents" class="custom-select-lg form-control" id="inputGroupSelect01">
                <option value="1" selected>Un étudiant</option>
                <option value="2">Deux étudiants</option>
                <option value="3">Trois étudiants</option>
                <option value="4">Quatre étudiants</option>
                <option value="5">Cinq étudiants</option>
                <option value="6">Six étudiants</option>
            </select>
        </div>


        <hr class="container horiz-bar"/>


        <h3 style="padding-left: 2rem; margin-bottom: 1rem">Étudiants de l'activité :</h3>
        <section id="add_students" class="container">

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <h4>
                            <label for="file">Veuillez importer la liste des étudiants que vous souhaitez ajouter :</label>
                        </h4>
                        <input type="file" id="file" accept=".csv" class="form-control-file">
                    </div>
                </div>
            </div>

            <div class="row equal">
                <div class="col-5">
                    <h4>Étudiants disponibles</h4>

                    <div class="form-group">
                        <select id="loaded_students" multiple class="form-control custom-select-lg">

                        </select>
                    </div>

                </div>
                <div class="col-2">
                    <h4>Actions</h4>

                    <div id="arrow_actions">
                        <button id="add_selected" title="Ajouter les étudiants choisis à l'activité" type="button" class="btn btn-block btn-outline-secondary"><i class="material-icons md-48">arrow_forward</i></button>
                        <button id="remove_selected" title="Enlever les étudiants choisis à l'activité" type="button" class="btn btn-block btn-outline-secondary"><i class="material-icons">arrow_back</i></button>
                        <button id="add_all" title="Ajouter tous les étudiants disponibles à l'activité" type="button" class="btn btn-block btn-outline-secondary"><i class="material-icons md-48">arrow_forward_ios</i></button>
                        <button id="remove_all" title="Enlever tous les étudiants choisis à l'activité" type="button" class="btn btn-block btn-outline-secondary"><i class="material-icons md-48">arrow_back_ios</i></button>
                    </div>

                </div>
                <div class="col-5">
                    <h4>Étudiants de l'activité</h4>

                    <div class="form-group">
                        <select name="selectedStudents" id="selected_students" multiple class="form-control custom-select-lg">

                        </select>
                    </div>

                </div>
            </div>
        </section>

        <input type="submit" class="left-items btn btn-lg btn-primary" value="Créer l'activité">

    </form>


    <script type="text/javascript">
        let button_remove_selected = document.getElementById('remove_selected');
        let button_add_selected = document.getElementById('add_selected');
        let button_remove_all = document.getElementById('remove_all');
        let button_add_all = document.getElementById('add_all');
        let loaded = document.getElementById('loaded_students');
        let selected = document.getElementById('selected_students');

        button_remove_selected.addEventListener("click", e => {
            while (selected.selectedIndex !== -1) {
                loaded.options.add(selected.options[selected.selectedIndex]);
            }
            selected.selectedIndex = -1;
            loaded.selectedIndex = -1;
        });

        button_add_selected.addEventListener("click", e => {
            while (loaded.selectedIndex !== -1) {
                selected.options.add(loaded.options[loaded.selectedIndex]);
            }
            loaded.selectedIndex = -1;
            selected.selectedIndex = -1;
        });

        button_remove_all.addEventListener("click", e => {
            while (selected.options.length !== 0) {
                loaded.options.add(selected.options[0]);
            }
        });

        button_add_all.addEventListener("click", e => {
            while (loaded.options.length !== 0) {
                selected.options.add(loaded.options[0]);
            }
        });

        //Gestion du chargement du fichier CSV et de l'affichage des données


        var file_html = document.getElementById('file')
        file_html.addEventListener('change', function () {
            var reader = new FileReader();

            //A la fin de la lecture d'un fichier, l'événement 'load' se lance, il faut donc créer
            //un eventListener
            reader.addEventListener('load', function () {
                //reader.result stocke le résultat de la lecture du fichier soit son contenu

                //Parse du csv et affichage dans la liste
                let lines = reader.result.split('\n');
                for (let l of lines) {
                    let student = l.split(',');
                    let select = document.getElementById("loaded_students");
                    select.options.add(new Option(student[0] + " " + student[1], student[2], false, false));
                }

            });

            reader.readAsText(file_html.files[0]); //on obtient un String

        });

    </script>

{% endblock %}