{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Créer une nouvelle activité{% endblock %}</h1>
{% endblock %}

{% block content %}

    <form method="post" action="{{ url_for("new_activity") }}">

        <h3 class="left-items">Nom de l'activité :</h3>
        <div class="container input-group mb-3">
            <input type="text" name="activityName" class="form-control form-control-lg " placeholder="Nom de l'activité">
        </div>


        <hr class="container horiz-bar"/>

        <!--<div class="container">
            <div class="row">
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <h3 class="left-items">Dates de début et fin de l'activité :</h3>
        <div id="activityDates" class="container">
            <div class="row">
                <div class="col-md-auto">
                    <h4>Début :</h4>
                </div>
                <div class="col-md-auto">
                    <input type="date" name="beginDate">
                </div>
                <div class="col-md-auto">
                    <h4>Fin :</h4>
                </div>
                <div class="col-md-auto">
                    <input type="date" name="endDate">
                </div>
            </div>
        </div>

        <hr class="container horiz-bar"/>

        <h3 class="left-items">Enseignant(s) référent(s) :</h3>
        <section id="add_teachers" class="container">

            <div class="form-group">
                <select name="selectedTeachers" id="teachers" multiple class="form-control custom-select-lg">
                    <!--TODO : une fois le back fait, aller chercher les profs dans la BD-->
                    {% for t in teachers %}
                        <option value="{{ t }}">{{ t }}</option>
                    {% endfor %}

                </select>
            </div>
        </section>


        <hr class="container horiz-bar"/>


        <h3 class="left-items">Nombre d'étudiants par activité :</h3>

        <div class="input-group mb-3 container">
            <select name="numberOfStudents" class="custom-select-lg form-control" id="inputGroupSelect01">
                <option value="1" selected>Un étudiant</option>
                <option value="2">Deux étudiants</option>
                <option value="3">Trois étudiants</option>
                <option value="4">Quatre étudiants</option>
                <option value="5">Cinq étudiants</option>
                <option value="6">Six étudiants</option>
            </select>
        </div>


        <hr class="container horiz-bar"/>


        <h3 style="padding-left: 2rem; margin-bottom: 1rem">Étudiants de l'activité :</h3>
        <section id="add_students" class="container">

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <h4>
                            <label for="file">Veuillez importer la liste des étudiants que vous souhaitez ajouter :</label>
                        </h4>
                        <input type="file" id="file" accept=".csv" class="form-control-file">
                    </div>
                </div>
            </div>

            <div class="row equal">
                <div class="col-5">
                    <h4>Étudiants disponibles</h4>

                    <div class="form-group">
                        <select id="loaded_students" multiple class="form-control custom-select-lg">

                        </select>
                    </div>

                </div>
                <div class="col-2">
                    <h4>Actions</h4>

                    <div id="arrow_actions">
                        <button id="add_selected" title="Ajouter les étudiants choisis à l'activité" type="button" class="btn btn-block btn-outline-secondary"><i class="material-icons md-48">arrow_forward</i></button>
                        <button id="remove_selected" title="Enlever les étudiants choisis à l'activité" type="button" class="btn btn-block btn-outline-secondary"><i class="material-icons">arrow_back</i></button>
                        <button id="add_all" title="Ajouter tous les étudiants disponibles à l'activité" type="button" class="btn btn-block btn-outline-secondary"><i class="material-icons md-48">arrow_forward_ios</i></button>
                        <button id="remove_all" title="Enlever tous les étudiants choisis à l'activité" type="button" class="btn btn-block btn-outline-secondary"><i class="material-icons md-48">arrow_back_ios</i></button>
                    </div>

                </div>
                <div class="col-5">
                    <h4>Étudiants de l'activité</h4>

                    <div class="form-group">
                        <select name="selectedStudents" id="selected_students" multiple class="form-control custom-select-lg">

                        </select>
                    </div>

                </div>
            </div>
        </section>

        <input type="submit" class="left-items btn btn-lg btn-primary" value="Créer l'activité">

    </form>


    <script type="text/javascript">
        let button_remove_selected = document.getElementById('remove_selected');
        let button_add_selected = document.getElementById('add_selected');
        let button_remove_all = document.getElementById('remove_all');
        let button_add_all = document.getElementById('add_all');
        let loaded = document.getElementById('loaded_students');
        let selected = document.getElementById('selected_students');

        button_remove_selected.addEventListener("click", e => {
            while (selected.selectedIndex !== -1) {
                loaded.options.add(selected.options[selected.selectedIndex]);
            }
            selected.selectedIndex = -1;
            loaded.selectedIndex = -1;
        });

        button_add_selected.addEventListener("click", e => {
            while (loaded.selectedIndex !== -1) {
                selected.options.add(loaded.options[loaded.selectedIndex]);
            }
            loaded.selectedIndex = -1;
            selected.selectedIndex = -1;
        });

        button_remove_all.addEventListener("click", e => {
            while (selected.options.length !== 0) {
                loaded.options.add(selected.options[0]);
            }
        });

        button_add_all.addEventListener("click", e => {
            while (loaded.options.length !== 0) {
                selected.options.add(loaded.options[0]);
            }
        });

        //Gestion du chargement du fichier CSV et de l'affichage des données


        var file_html = document.getElementById('file')
        file_html.addEventListener('change', function () {
            var reader = new FileReader();

            //A la fin de la lecture d'un fichier, l'événement 'load' se lance, il faut donc créer
            //un eventListener
            reader.addEventListener('load', function () {
                //reader.result stocke le résultat de la lecture du fichier soit son contenu

                //Parse du csv et affichage dans la liste
                let lines = reader.result.split('\n');
                for (let l of lines) {
                    let student = l.split(',');
                    let select = document.getElementById("loaded_students");
                    select.options.add(new Option(student[0] + " " + student[1], student[2], false, false));
                }

            });

            reader.readAsText(file_html.files[0]); //on obtient un String

        });

        //Fonction pour le date-picker
        /*$(function () {
            var bindDatePicker = function () {
                $(".date").datetimepicker({
                    format: 'YYYY-MM-DD',
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }
                }).find('input:first').on("blur", function () {
                    // check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
                    // update the format if it's yyyy-mm-dd
                    var date = parseDate($(this).val());

                    if (!isValidDate(date)) {
                        //create date based on momentjs (we have that)
                        date = moment().format('YYYY-MM-DD');
                    }

                    $(this).val(date);
                });
            }

            var isValidDate = function (value, format) {
                format = format || false;
                // lets parse the date to the best of our knowledge
                if (format) {
                    value = parseDate(value);
                }

                var timestamp = Date.parse(value);

                return isNaN(timestamp) == false;
            }

            var parseDate = function (value) {
                var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
                if (m)
                    value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);

                return value;
            }

            bindDatePicker();
        });*/

    </script>

{% endblock %}