{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Créer un nouveau groupe de cardinalité 1{% endblock %}</h1>
{% endblock %}

{% block content %}

    <section id="add_students" class="container">

        <form id="file_students" method="post" action="{{ url_for("newgroup1") }}">
            <input type="file" accept=".csv" class="button" name="file_students" onchange="document.getElementById('file_students').submit();">
        </form>

        <div class="row">
            <div class="col-md">
                <h3>Sélectionnez les étudiants parmi la liste suivante</h3>

                <div class="form-group">
                    <select id="loaded_students" multiple class="form-control">

                        {% for s in students %}
                            <option value="{{ s }}">{{ s }}</option>
                        {% endfor %}

                    </select>
                </div>

            </div>
            <div class="col-sm">
                <h3>Actions</h3>

                <div id="arrow_actions">
                    <button id="remove_selected" type="button"><i class="material-icons">arrow_back</i></button>
                    <button id="add_selected" type="button"><i class="material-icons md-48">arrow_forward</i></button>
                    <button id="remove_all" type="button"><i class="material-icons md-48">arrow_back_ios</i></button>
                    <button id="add_all" type="button"><i class="material-icons md-48">arrow_forward_ios</i></button>
                </div>

            </div>
            <div class="col-md">
                <h3>Étudiants sélectionnés</h3>

                <form>
                    <div class="form-group">
                        <select id="selected_students" multiple class="form-control">

                        </select>
                    </div>
                </form>

            </div>
        </div>
    </section>

    <script type="text/javascript">
        let button_remove_selected = document.getElementById('remove_selected');
        let button_add_selected = document.getElementById('add_selected');
        let button_remove_all = document.getElementById('remove_all');
        let button_add_all = document.getElementById('add_all');
        let loaded = document.getElementById('loaded_students');
        let selected = document.getElementById('selected_students');

        button_remove_selected.addEventListener("click", e => {
            while (selected.selectedIndex !== -1){
                loaded.options.add(selected.options[selected.selectedIndex]);
            }
            selected.selectedIndex = -1;
            loaded.selectedIndex = -1;
        });

        button_add_selected.addEventListener("click", e => {
            while (loaded.selectedIndex !== -1){
                selected.options.add(loaded.options[loaded.selectedIndex]);
            }
            loaded.selectedIndex = -1;
            selected.selectedIndex = -1;
        });

        button_remove_all.addEventListener("click", e => {
            while (selected.options.length !== 0){
                loaded.options.add(selected.options[0]);
            }
        });

        button_add_all.addEventListener("click", e => {
            while (loaded.options.length !== 0){
                selected.options.add(loaded.options[0]);
            }
        });

    </script>

{% endblock %}