{% extends 'base.html' %}

{% block header %}

  <h1>{% block title %}Se connecter{% endblock %}</h1>

{% endblock %}

{% block content %}

    <form id="signin" method="post" action="{{ url_for("signin") }}" class="container">

      {% if next_page is defined and next_page != None %}
        <!-- Renvoyer à la page où l’utilisateur était avant -->
        <div class="form-group d-none">
            <label for="next">Next</label>
            <input type="text" class="form-control form-control-lg" id="next" name="next" type="hidden"value="{{ next_page }}">
        </div>
      {% endif %}

        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control form-control-lg" id="username" name="username" placeholder="Entrez votre nom d'utilisateur" required>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Entrez votre mot de passe" required>
        </div>

        <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" id="check" name="check">
            <label class="form-check-label " for="check">Se souvenir de moi</label>
        </div>

        <div class="form-check form-group text-center">
              <a href="{{ url_for("forgottenPassword") }}">Mot de passe oublié</a>
          </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-lg btn-primary">Se connecter</button>
        </div>
    </form>


{% endblock %}
