{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Se connecter{% endblock %}</h1>
{% endblock %}

{% block content %}

    <form id="connect" method="post" class="container">

        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control form-control-lg" id="username" placeholder="Entrez votre nom d'utilisateur" required>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control form-control-lg" id="password" placeholder="Entrez votre mot de passe" required>
        </div>

        <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label " for="exampleCheck1">Se souvenir de moi</label>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-lg btn-primary">Se connecter</button>
        </div>
    </form>


{% endblock %}
